.section-three {
    position: relative;
    background-color: $second-color;

    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 1023px) {
        padding-top: 58px;
        padding-bottom: 65px;
    }

    @media (max-width: 767px) {
        padding-top: 45px;
        padding-bottom: 53px;
    }

    .container {
        width: $container;
        margin: 0 auto;

        @media (max-width: 1199px) {
            width: calc(100% - 30px - 30px);
        }

        @media (max-width: 1023px) {
            width: calc(100% - 20px - 20px);
        }

        @media (max-width: 767px) {
            width: calc(100% - 15px - 15px);
        }
    }

    h2 {
        font-family: 'Alata', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 90px;
        color: #000000;

        margin-bottom: 55px;

        @media (max-width: 1023px) {
            font-size: 74px;
            margin-bottom: 47px;
        }

        @media (max-width: 767px) {
            font-size: 52px;
        }

        @media (max-width: 424px) {
            font-size: 40px;
            margin-bottom: 25px;
        }

        &::after {
            content: '';
            display: block;
            width: 100px;
            height: 6px;
            background-color: white;

            margin-top: 45px;

            @media (max-width: 1023px) {
                margin-top: 30px;
            }

            @media (max-width: 424px) {
                width: 65px;
                height: 4px;
            }
        }
    }

    h3 {
        font-family: 'Sofia Pro', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #000000;

        max-width: 300px;

        @media (max-width: 767px) {
            font-size: 32px;
            max-width: none;
        }

        @media (max-width: 424px) {
            font-size: 25px;
        }
    }

    .mw-75 {
        max-width: 75%;

        @media (max-width: 767px) {
            max-width: none;
        }

        @media (max-width: 424px) {
            font-size: 14px;
        }
    }

    .services-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 50px;

        margin-top: 58px;
        margin-bottom: 58px;

        position: relative;

        @media (max-width: 767px) {
            margin-top: 50px;
            margin-bottom: 50px;

            grid-template-columns: 1fr;
        }

        @media (max-width: 424px) {
            margin-top: 35px;
            margin-bottom: 35px;

            row-gap: 30px;
        }


        &__item-1,
        &__item-2,
        &__item-3 {
            position: relative;
        }

        ul {
            margin-top: 33px;
            margin-bottom: 33px;

            @media (max-width: 767px) {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            @media (max-width: 424px) {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            li {
                padding-left: 20px;

                @media (max-width: 424px) {
                    font-size: 14px;
                }

                &::before {
                    content: '';
                    position: absolute;

                    display: block;
                    width: 6px;
                    height: 6px;

                    background-color: white;

                    left: 0;
                    margin-top: 11px;

                    @media (max-width: 424px) {
                        margin-top: 8px;
                    }
                }
            }
        }

        .arrow-right--button {
            cursor: pointer;
            padding-left: 20px;

            &:hover {
                transform: translateX(20px);
            }
        }
    }

    .lines-block {
        position: absolute;
        bottom: -7.5px;

        width: $container;
        left: 50%;
        transform: translateX(-50%);

        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-items: start;
        align-items: end;

        z-index: 5;

        @media (max-width: 1199px) {
            width: calc(100% - 30px - 30px);
        }

        @media (max-width: 767px) {
            display: none;
        }

        .line-1,
        .line-2,
        .line-3 {
            width: 1px;
            height: 15px;
            background-color: #000;
        }

        .lines-block--grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .line-4 {
                width: 1px;
                height: 15px;
                background-color: #000;
            }

            .line-5 {
                width: 1px;
                height: 15px;
                background-color: #000;

                justify-self: end;
            }
        }
    }
}

.section-three .navigation-block {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right: 0;

    display: grid;
    gap: 40px;

    justify-items: end;
    align-items: center;

    @media (max-width: 1439px) {
        display: none;
    }

    &__item-3 {
        display: grid;
        grid-template-columns: 16px 60px 66px;

        justify-items: end;
        align-items: center;
    }

    &__item-1,
    &__item-2,
    &__item-4 {
        display: grid;
        grid-template-columns: 16px 26px;

        justify-items: end;
        align-items: center;

        column-gap: 5px;
    }

    p {
        font-family: 'Sofia Pro', sans-serif;
        font-style: normal;
        font-weight: normal;

        color: #000;

        &.number-section {
            font-size: 10px;

            margin-top: 2px;
        }

        &.name-section {
            font-size: 14px;
        }

        &.line {
            display: block;
            width: 20px;
            height: 1px;
            background-color: #000;

            margin-top: 3px;
        }

        &.line--active {
            display: block;
            width: 60px;
            height: 1px;
            background-color: #000;

            margin-top: 4px;
        }
    }
}