<header class="header">
    <img class="logo" src="../img/svg/logo.svg" alt="Logo">

    <nav class="nav">
        <ul class="menu">
            <li class="menu__item"><a href="#about-us">About</a></li>
            <li class="menu__item"><a href="#services">Services</a></li>
            <li class="menu__item"><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <nav class="nav-mobile">
        <svg width="25" height="9" viewBox="0 0 25 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="25" height="2" fill="black" />
            <rect y="7" width="25" height="2" fill="black" />
        </svg>
    </nav>
</header>